<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<body>
  <div class="tcp-wrap"></div>
  <div class="todo-color-picker">
    <div class="colors">
      <div class="color" data-hex="#1a1a1a"></div>
      <div class="color" data-hex="#2b2b2b"></div>
      <div class="color" data-hex="#3c3c3c"></div>
      <div class="color" data-hex="#4d4d4d"></div>
      <div class="color" data-hex="#5e5e5e"></div>
      <div class="color" data-hex="#a1a1a1"></div>
      <div class="color" data-hex="#b2b2b2"></div>
      <div class="color" data-hex="#c3c3c3"></div>
      <div class="color" data-hex="#d4d4d4"></div>
      <div class="color" data-hex="#e5e5e5"></div>
      <div class="color" data-hex="#ffa1a1"></div>
      <div class="color" data-hex="#ffb2b2"></div>
      <div class="color" data-hex="#ffc3c3"></div>
      <div class="color" data-hex="#ffd4d4"></div>
      <div class="color" data-hex="#ffe5e5"></div>
      <div class="color" data-hex="#a1ffa1"></div>
      <div class="color" data-hex="#b2ffb2"></div>
      <div class="color" data-hex="#c3ffc3"></div>
      <div class="color" data-hex="#d4ffd4"></div>
      <div class="color" data-hex="#e5ffe5"></div>
      <div class="color" data-hex="#a1a1ff"></div>
      <div class="color" data-hex="#b2b2ff"></div>
      <div class="color" data-hex="#c3c3ff"></div>
      <div class="color" data-hex="#d4d4ff"></div>
      <div class="color" data-hex="#e5e5ff"></div>
    </div>
    <div class="color-selected">
      <input class="selected-rgb" type="text" placeholder="RGB"/>
      <input class="selected-hex" type="text" placeholder="HEX"/>
      <input class="color-confirm-change-btn" type="button"/>
    </div>
  </div>
</body>
</html>
